<ion-header hidden>
  <ion-toolbar >
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item lines="none" >
      Inicia Sesión con tus credenciales
    </ion-item>
    
    <ion-item lines="none" color="light" class="rowStyle">
      <ion-input type="text" placeholder="your name" required [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item lines="none" color="light" class="rowStyle">
      <ion-input type="text" placeholder="your email" required [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="none" color="light" class="rowStyle">
      <ion-input type="password" placeholder="your password" required [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item lines="none" class="align">
      <ion-button color="primary" class="rowStyleButton" (click)="signup()">SignUp</ion-button>
    </ion-item>
    <ion-item lines="none" class="align" >
      <ion-button color="primary" class="rowStyleButton" (click)="gotoLogin()">Cancel</ion-button>
    </ion-item>
</ion-content>